    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About me / À propos</h2>
              <br/>
                <p>Je m'appelle Mayeul, 23 ans, actuellement développeur react-native chez October à Paris. October (ex-Lendix) est la plateforme numéro 1 pour le prêt aux PME (crowdlending) en Europe continentale. Avec des bureaux basé en France, Espagne, Italie et Pays-Bas, les PME's de ces pays peuvent emprunter directement à des prêteurs privés et institutionnels </p>
                <p>Diplomé de l'ecole Epitech, promotion 2018.</p>
                <p>Mes habitudes ? Nouvelles techno, prog, et crypto...</p>
                <p>Supporter passioné des équipes de Rugby et Football de Toulouse 🏉⚽</p>
                <p></p>
                <p>My name is Mayeul, I'm 23, and currently a react-native developer at October. October (ex-Lendix) is the #1 SME lending marketplace in continental Europe. It operates in France, Spain, Italy and The Netherlands. On October, SMEs can borrow directly from private and institutional lenders. </p>
                <p>Graduated from the Paris Graduate School of Digital Innovation (Epitech) in 2018/2019.</p>
                <p>My daily stuff ? New Technologies, programming, crypto... </p>
                <p>Avid supporter of the Toulouse French's football and rugby teams 🏉⚽Used to played piano before.</p>
                <br/>
              </div>
        </div>
    </section>
